.about-wrapper {
  height: 55rem !important;
  background: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%) !important;
}

.about-content-wrapper {
  padding: 5rem $container-padding;
  height: 100%;
  width: 100%;
  background-image: url("../assets/Innovation-amico.svg");
  background-repeat: no-repeat;
  background-position: 90% 20%;
  background-size: 20rem;
}

.about-content {
  display: grid;
  width: 50%;
}

