.header-wrapper {
  background-image: url("../assets/free-iphone-12-pro-6.1_-mockup-template@2x\ \(1\).png");
  background-size: 50rem;
  background-repeat: no-repeat;
  background-position: right -5rem top -5rem;
  @media (max-width: 1200px) {
    background-size: 40rem;
  }
  @media (max-width: 992px) {
    background-size: 30rem;
    background-position: right -5rem top;
  }
  @media (max-width: 770px) {
    background-position: right -6rem top;
  }
  @media (max-width: 460px) {
    background-size: 25rem;
  }
}
.header-content {
  padding: 5rem 0;
  min-height: 50rem;
  margin: 1rem auto;
  justify-content: start;
  font-family: "Poppins", sans-serif;
  h1 {
    font-size: 4rem !important;
    font-weight: bolder !important;
  }
  p {
    font-weight: lighter !important;
    width: 50%;
  }
  .cto-container {
    margin-top: 1rem;
  }
  .cto-button {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .cto-button1 {
    background-color: #fff;
    padding: 0.6rem 2rem;
    box-shadow: 0.4rem 0.4rem 0px #faf6ffa6;
    border-radius: 0.7rem;
    &:hover,
    &:focus {
      background-color: #e6cffd;
    }
    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25), 0.4rem 0.4rem 0px #faf6ffa6;
    }
  }
  .cto-button2 {
    margin: 0.5rem;
    width: 9.4rem;
    height: 2.8rem;
    padding: 0;
    border-radius: 0.4rem;
    background-image: url("../assets/google-play-badge.png");
    background-position: center center;
    background-size: 120%;
    background-repeat: no-repeat;
  }
  .cto-button3 {
    margin: 0.5rem;
    width: 9.4rem;
    height: 2.8rem;
    padding: 0;
    background-image: url("../assets/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  //media queries
  @media (max-width: 1200px) {
    padding-right: 0 !important;
    h1 {
      font-size: 2.2rem !important;
    }
    p {
      font-size: 1.3rem;
      width: 60% !important;
    }
  }
  @media (max-width: 992px) {
    margin-top: 5rem;
    p {
      font-size: 1.2rem;
    }
  }
  @media (max-width: 580px) {
    background-position: 50px -8rem;
  }
}

.form-wrapper {
  max-width: 35rem;
  @media (max-width: 992px) {
    width: 70%;
  }
  @media (max-width: 600px) {
    width: 98%;
  }
  form {
    background: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
    border-radius: 0.7rem;
    box-shadow: 0rem 0.2rem 10px rgba(0, 0, 0, 0.3), 0.8rem 0.8rem 0 #ecf4ff82,
      1.6rem 1.6rem 0 #c7dbf7c4;
  }
  input {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  #button-addon2 {
    background-color: #8ec5fc;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: none !important;
    &:focus,
    &:hover {
      background-color: #3d9eff;
    }
  }
}
