.nav-link,
.navbar-brand {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  margin: 1.5rem;
}
.navbar-brand {
  font-size: 3rem;
}
.navbar-logo {
  font-size: 3rem;
  margin: 0;
}
.nav-link {
  font-size: 2rem;
}
.nav-container {
  i {
    color: black;
    padding: 0;
    font-weight: bolder;
    font-size: 2.5rem;
  }

  @media (max-width: 992px) {
    padding: 0 0;
  }
}
